<!doctype html>
<html ng-app="ifApp">
<head>
    <meta charset="utf-8">
    <title>如果就</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/animations.css">
    <link href="/static/css/index.less" rel="stylesheet/less" type="text/css">

</head>
<body>
<div id="wrapper">
<div id="header">
    <img class="title" src="/static/img/title.png" alt="如果，就"/>
</div>

<div id="body">
<div class="subtitle">
    下面的场景亲一定不会陌生
</div>
<div class="v-line">
</div>
<div class="circle if">
    如果
</div>
<div class="content if">
</div>
<div class="circle wangwang">
    旺旺
</div>
<div class="content">
    <ul class="branch">
        <li>
            <div class="h-line">
            </div>
            <div class="status">
                买家未下单，三分钟未回复
            </div>
            <div class="arrow">
            </div>
            <div class="then">
                <div class="action">提示话术</div>
                <div class="detail">亲，考虑的怎么样啦？</div>
            </div>
        </li>
        <li>
            <div class="h-line">
            </div>
            <div class="status">
                收到买家咨询，关键字：“包邮吗”
            </div>
            <div class="arrow">
            </div>
            <div class="then">
                <div class="action">提示话术</div>
                <div class="detail">亲，我们全场包邮，仅限今天哦</div>
            </div>
        </li>
    </ul>
</div>
<div class="circle order">
    订单
</div>
<div class="content">
    <ul class="branch">
        <li>
            <div class="h-line">
            </div>
            <div class="status">
                已下单，五分钟未付款
            </div>
            <div class="arrow">
            </div>
            <div class="then">
                <div class="action">发送旺旺（如在线）或短信</div>
                <div class="detail">亲，下午三点之前下单，当天就能发货哦~</div>
            </div>
        </li>
        <li>
            <div class="h-line">
            </div>
            <div class="status">
                已付款后
            </div>
            <div class="arrow">
            </div>
            <div class="then">
                <div class="action">发送旺旺（如在线）或短信</div>
                <div class="detail">亲，已收到您的货款，我们会在3点之前发货</div>
            </div>
        </li>
        <li>
            <div class="h-line">
            </div>
            <div class="status">
                买家未下单，三分钟未回复
            </div>
            <div class="arrow">
            </div>
            <div class="then">
                <div class="action">提示话术</div>
                <div class="detail">亲，考虑的怎么样啦？</div>
            </div>
        </li>
        <li>
            <div class="h-line">
            </div>
            <div class="status">
                关闭订单后
            </div>
            <div class="arrow">
            </div>
            <div class="then">
                <div class="action">通知客服跟进</div>
                <div class="detail"></div>
            </div>
        </li>
    </ul>
</div>
<div class="circle rate">
    评价
</div>
<div class="content">
    <ul class="branch">
        <li>
            <div class="h-line">
            </div>
            <div class="status">
                获得好评
            </div>
            <div class="arrow">
            </div>
            <div class="then">
                <div class="action">自动回评</div>
                <div class="detail">很好的买家哦~~</div>
            </div>
        </li>
        <li>
            <div class="h-line">
            </div>
            <div class="status">
                获得中差评
            </div>
            <div class="arrow">
            </div>
            <div class="then">
                <div class="action">发送旺旺（如在线）或短信</div>
                <div class="detail">亲，非常抱歉啊，可能我们有些地方没做到位，请联系我们客服人员，一定给您一个满意的解决方案</div>
                <div class="action">通知客服跟进</div>
            </div>
        </li>
        <li>
            <div class="h-line">
            </div>
            <div class="status">
                双方未评，即将到期<br>
                （双方未评将不计入信用）
            </div>
            <div class="arrow">
            </div>
            <div class="then">
                <div class="action">到期前30分钟自动回评</div>
                <div class="detail">亲，非常感谢，期待下次光临</div>
            </div>
        </li>
        <li>
            <div class="h-line">
            </div>
            <div class="status">
                关闭订单后
            </div>
            <div class="arrow">
            </div>
            <div class="then">
                <div class="action">通知客服跟进</div>
                <div class="detail"></div>
            </div>
        </li>
    </ul>
</div>
<div class="circle logistics">
    物流
</div>
<div class="content">
    <ul class="branch">
        <li>
            <div class="h-line">
            </div>
            <div class="status">
                已发货
            </div>
            <div class="arrow">
            </div>
            <div class="then">
                <div class="action">发送旺旺（如在线）或短信</div>
                <div class="detail">亲，宝贝已经为您寄出了哦，稍等即到</div>
            </div>
        </li>
        <li>
            <div class="h-line">
            </div>
            <div class="status">
                已到达买家城市
            </div>
            <div class="arrow">
            </div>
            <div class="then">
                <div class="action">发送短信</div>
                <div class="detail">亲，宝贝已达到北京，请注意查收哦</div>
            </div>
        </li>
        <li>
            <div class="h-line">
            </div>
            <div class="status">
                已签收
            </div>
            <div class="arrow">
            </div>
            <div class="then">
                <div class="action">发送短信</div>
                <div class="detail">亲，如果对宝贝满意，请及时确认收货，有惊喜哦~</div>
            </div>
        </li>
        <li>
            <div class="h-line">
            </div>
            <div class="status">
                产生疑难件
            </div>
            <div class="arrow">
            </div>
            <div class="then">
                <div class="action">通知客服跟进</div>
                <div class="detail"></div>
            </div>
        </li>
    </ul>
</div>
</div>
<div id="footer">
    <p class="explain">相信上面这些只是电商运营中的冰山一角 </br>这么多的环节，由人来做难免遗漏和疏忽</p>

    <p class="description">【如果•就】的服务，是让您自己挑选所关注的事件</br>然后在条件满足的时候，自动按您的设定进行处理</p>

    <p class="expect">功能火热开放中，敬请期待...</br>如果您希望在我们准备好的时候通知您，请填写您的联系方式</p>

    <form ng-controller="Ctrl">
        <div class="client-info">
            <input class="contact-way form-control"  type="text" ng-model="info" placeholder="请输入邮箱或手机号"/>
        </div>
        <div class="client-info">
            <button class="submit-btn btn btn-info" my-customer>click me</button>
        </div>
    </form>
</div>
</div>

<script src="/static/js/libs/less-1.3.3.min.js"></script>
<script src="/static/js/libs/jquery/jquery-1.10.2.js"></script>
<script src="/static/js/libs/less-1.3.3.min.js"></script>
<script src="/static/js/libs/jquery/jquery-1.10.2.js"></script>
<script src="/static/js/libs/angular/angular.min.js"></script>
<script src="/static/js/libs/angular/angular-animate.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/controllers.js"></script>
</body>
</html>