//less's var
@color-theme: #5db85d;

body {
  background-color: #f8f8f8;
  font-family: "Microsoft Yahei";
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

#navbar {
  height: 20px;
  #title{
    font-size: 20px;
    color: #d3d3d3;
  }
}

#wrapper {
  text-align: center;
  audio{
    margin-top: 100px;
  }
}
